body{
	width: 100%;
	margin: 0px;
}
.head{
	width: 100%;
	height: 25%;
	min-height:50px;
	background-color: #191818;
	
}
.middle{
	width: 100%;
	height: 65%;
	min-height: 600px;
	background-color: #E8F2FE;
	
}
.foot{
	width: 100%;
	height: 10%;
	text-align: center;
	
}

.menuContainer{
	width: 30%;
	height: 100%;
	border: 2px solid black;
}

.pageContainer{
	
	
}

ul{
	list-style-type: none;
	
}

li{
	
}